body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  color: var(--1-Color, #0037af);
  /* H1-Desktop */
  font-family: "lulo-one", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 550%;
  line-height: 100%;
  position: absolute;
  top: 0;
  left: 55%;
  order: 1;
}

h2 {
  font-family: "area-normal", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  font-size: 26px;
}

p,
.kundb {
  font-family: "area-normal", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start
  padding: 10rem;
}

.map {
  margin-left: -10%;
  width: 90vw;
  height: 90vw;
  align-items: center;
  justify-content: flex-start;
}

svg {
  margin-top: 1%;
  width: 95%;
  height: 95%;
}

@media (min-width: 1024px) {
  .map {
    width: 100vw;
    height: 100vh;
  }
}

.polaroids img {
  background-color: #fff;
  padding: 1rem;
  padding-bottom: 6%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  
}

/* optional: give a small margin between the polaroids */
.polaroids > div {
  margin: 0.5rem;
  width: 29.558rem;
height: 48.80281rem;
}
